<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo List App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item button *ngFor="let todo of todos" [routerLink]="'/todo/' + todo._id">
        <ion-label>{{todo.task}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addTodo()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>